#id_grades {
  display: inline-block;
  label {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border: solid darken($wet-cement, 50%) 1px;
    color: darken($wet-cement, 50%);
    @include border-top-radius(3px);
    @include border-right-radius(3px);
    @include border-bottom-radius(3px);
    @include border-left-radius(3px);
  }

  input[type="checkbox"]:checked + label {
    background-color: $tag-blue;
    color: white;
    border: none;
  }
}

#id_role {

  width: 100%;

  label {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border: solid darken($wet-cement, 50%) 1px;
    color: darken($wet-cement, 50%);
    @include border-top-radius(3px);
    @include border-right-radius(3px);
    @include border-bottom-radius(3px);
    @include border-left-radius(3px);
  }

  .role-name{
    font-weight: $bold;
    width: 20%;
  }

  .role-description{

  }

  input[type="radio"]:checked + label {
    background-color: $tag-blue;
    color: white;
    border: none;
  }

}

