{% load static i18n widget_tweaks %}
{% get_current_language as language %}
<!DOCTYPE html>
	<html lang="{{ language }}">
	<head>
		<title>{% block title %}{% endblock title %} | FMFN</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />

		<script src="{% static 'bootstrap/js/jquery.min.js' %}" defer></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" defer></script>
	</head>
	<body>
		{% block content %}{% endblock content %}
	</body>
</html>