input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  background-color: lighten(#f1f1f1, 3%);
  @include border-top-radius(3px);
  @include border-right-radius(3px);
  @include border-bottom-radius(3px);
  @include border-left-radius(3px);
  box-shadow: none;
  border-color: #e2e2e2;
}

button {
  padding-bottom: 10px;
  padding-top: 10px;
  @include border-top-radius(3px);
  @include border-right-radius(3px);
  @include border-bottom-radius(3px);
  @include border-left-radius(3px);
}

.delete-user-button {
  display: block;
  width: 100%;
  color: white;
  background-color: darken(red, 15%);
  &:hover {
    color: white;
    background-color: darken(red, 15%);
  }
}