
//Font variables
$light: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;

$elements-height: 94%;

//colors

//Reds
$sad-red: #C0392B;
//Golds
$fools-gold: #F1C40F;
//Greys
$wet-cement: #EBEBEB;
//Blue
$deep-blue: #2C3E50;
$tag-blue: lighten(#008CBA,10%);
//link blues
$sky-blue: #2980B9;
//blacks
$mild-black: #343434;
$main-black: #444444;
//Red
$red-hearth: #DF2828;