{% load static i18n widget_tweaks %}

<!--Make a report modal-->
<div id="report-material" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
     role="dialog">
    <p class="lead">{% trans 'Aqui puedes reportar un problema con el material.' %}</p>

    <div id="insert-report-area" class="form">
        {% csrf_token %}
        <input type="hidden" value="{{ material.id }}" name="report-material-id">
        <div id="report-error" class="alert-box alert"
             style="display: none;">{% trans 'Asegurate de llenar los campos' %}</div>
        <textarea id="report-content" cols="40"
                  rows="4" maxlength="500" style="resize: none;"
                  placeholder="{% trans 'Cuentanos el error que encontraste' %}"></textarea>
        <button id="insert-report">{% trans 'Enviar reporte' %}</button>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<!--Make a report modal-->

<div id="success-report" class="reveal-modal edition-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
     role="dialog">
    <p class="lead"><strong>{% trans 'El reporte ha sido enviado, el administrador lo resolvera a la brevedad' %}</strong></p>
    <button id="close-sucess-report">{% trans 'Aceptar' %}</button>
</div>