{% extends "base/base-2cols.html" %}
{% load i18n widget_tweaks static %}

{% block busqueda-active %}
    active
{% endblock %}

{% block title %}
    Search
{% endblock %}

{% block canvas %}
    <div id="search-bar">
        <form action="{% url 'filter' %}" method="post" class="form">
            {% csrf_token %}
            <div class="sub-heading-search">{% trans 'Si conoces el título, escríbelo:' %}</div>
            {{ form.search }}

            <div id="tags-ages">
                <div class="sub-heading-search">{% trans 'Selecciona una edad' %}</div>
                {% for age in form.fields.grades.choices %}
                    <input type="checkbox"
                           id="id_suggested_ages_{{ forloop.counter }}"
                           name="grades" value="{{ age.0 }}"
                           style="display: none;"/>
                    <label for="id_suggested_ages_{{ forloop.counter }}" class="checkbox">
                        {% blocktrans with age.1|title as name %}
                            {{ name }}{% endblocktrans %}
                    </label>
                {% endfor %}
            </div>

            <div id="tags-types">
                <div class="sub-heading-search">{% trans 'Selecciona un tipo de material' %}</div>
                {% for type in form.fields.type.choices %}
                    <input type="checkbox"
                           id="id_types_{{ forloop.counter }}"
                           name="type" value="{{ type.0 }}" style="display: none"/>
                    <label for="id_types_{{ forloop.counter }}"
                           class="checkbox">
                        {% blocktrans with type.1|title as name %}
                            {{ name }}
                        {% endblocktrans %}
                    </label>
                {% endfor %}
            </div>

            <div id="tags-languages">
                <div class="sub-heading-search">{% trans 'Selecciona un idioma' %}</div>
                {% for lang in form.fields.language.choices %}
                    <input type="checkbox"
                           id="id_languages_{{ forloop.counter }}"
                           name="language" value="{{ lang.0 }}"
                           style="display: none"/>
                    <label for="id_languages_{{ forloop.counter }}"
                           class="checkbox">
                        {% blocktrans with lang.1|title as name %}
                            {{ name }}
                        {% endblocktrans %}
                    </label>
                {% endfor %}
            </div>

            <div id="tags-themes">
                <div class="sub-heading-search">{% trans 'Escribe un tema' %}</div>
                {{ form.theme }}
            </div>
            <button id="busqueda-material" type="submit">{%  trans 'Buscar' %}</button>
        </form>
        <input type="hidden" value="1" name="prefix-url">
    </div>

    <div id="results" style="display: none">
        {% block results %}
            <div id="results-content" class="ninenty">
                Ejemplo de material
            </div>
        {% endblock %}
    </div>

    <div id="make-search">
        <i class="fa fa-search"></i>

        <p class="text">
            {% trans 'Para buscar escribe el título del material o selecciona algún tema, idioma, tipo o edad ' %}
        </p>


    </div>

{% endblock canvas %}

{% block js_footer %}
    <script src="{% static 'js/search.js' %}"></script>
{% endblock js_footer %}
