{% extends "base/base-2cols.html" %}
{% load i18n widget_tweaks static %}

{% block busqueda-active %}
    active
{% endblock %}

{% block title %}
    Search
{% endblock %}

{% block canvas %}
    <div id="search-bar">
        <form action="{% url 'filter' %}" method="post" class="form">
            {% csrf_token %}
            <div class="sub-heading-search">{% trans 'Do you know the title?' %}</div>
            {{ form.search }}

            <div id="tags-ages">
                <div class="sub-heading-search">{% trans 'Suggested ages' %}</div>
                {% for age in form.fields.grades.choices %}
                    <input type="checkbox"
                           id="id_suggested_ages_{{ forloop.counter }}"
                           name="suggested_ages" value="{{ age.0 }}"
                           style="display: none;"/>
                    <label for="id_suggested_ages_{{ forloop.counter }}" class="checkbox">
                        {% blocktrans with age.1|title as name %}
                            {{ name }}{% endblocktrans %}
                    </label>
                {% endfor %}
            </div>

            <div id="tags-types">
                <div class="sub-heading-search">{% trans 'Types of material' %}</div>
                {% for type in form.fields.type.choices %}
                    <input type="checkbox"
                           id="id_types_{{ forloop.counter }}"
                           name="types" value="{{ type.0 }}" style="display: none"/>
                    <label for="id_types_{{ forloop.counter }}"
                           class="checkbox">
                        {% blocktrans with type.1|title as name %}
                            {{ name }}
                        {% endblocktrans %}
                    </label>
                {% endfor %}
            </div>

            <div id="tags-languages">
                <div class="sub-heading-search">{% trans 'Languages' %}</div>
                {% for lang in form.fields.language.choices %}
                    <input type="checkbox"
                           id="id_languages_{{ forloop.counter }}"
                           name="languages" value="{{ lang.0 }}"
                           style="display: none"/>
                    <label for="id_languages_{{ forloop.counter }}"
                           class="checkbox">
                        {% blocktrans with lang.1|title as name %}
                            {{ name }}
                        {% endblocktrans %}
                    </label>
                {% endfor %}
            </div>

            <div id="tags-themes">
                <div class="sub-heading-search">{% trans 'Themes & topics' %}</div>
                {{ form.theme }}
            </div>
            <button id="busqueda-material" type="submit">Buscar</button>
        </form>
    </div>

    <div id="results" style="display: none">
        {% block results %}
            <div class="ninenty">
                Ejemplo de material
            </div>
        {% endblock %}
    </div>

    <div id="make-search">
        <i class="fa fa-search"></i>

        <p class="text">
            {% trans 'please input a query' %}
        </p>
    </div>

{% endblock canvas %}

{% block js-inline %}
    $(document).ready(function(){
    $("form").submit(function(e) {
    e.preventDefault();
    formData = {
    filter: $("#title").val(),
    csrfmiddlewaretoken:'{{ csrf_token }}'
    };

    console.log(JSON.stringify(formData));
    URL = $(this).attr("action");

    $.ajax(URL, {
    method: 'POST',
    data: formData,
    success: function (data, textStatus, jqXHR) {
    console.log(JSON.stringify(data));
    },
    error: function (jqXHR, textStatus, errorThrown) {
    console.log("fail");
    }
    });
    });
    });
{% endblock %}
