{% load i18n %}

<h3>{% trans 'Password recovery - Next steps' %}</h3>
<p>
	{% blocktrans %}Has recibido este correo porque fue solicitada la recuperación de contraseña para la cuenta asociada a este correo
        electrónico. Si usted no realizó la solicitud, haga caso omiso del mensaje y contacte a un administrador. {% endblocktrans %}
</p>
<p>
	{% blocktrans %}Para continuar con el proceso de recuperación, haga click en el siguiente link: {% endblocktrans %}
	<a href="{{ protocol }}://{{ domain }}{% url 'accounts:reset' user_id token %}">{{ protocol }}://{{ domain }}/accounts/recover/reset/</a>
</p>
