{% extends 'base/base.html' %}
{% load i18n widget_tweaks %}

{% block content %}
    <div class="login">

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert-box alert">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <div class="title"> Sistema Encarta</div>
        <div class="content">
            <form action="{% url 'accounts:login' %}{% if redirect_url %}?next={{ redirect_url }}{% endif %}" method="post">{% csrf_token %}
                <div class="form-group">{{ form.email_address | attr:'required' }}</div>
                <div class="form-group">{{ form.password | attr:'required' }}</div>
                <button class="btn btn-primary" type="submit">{% trans 'Ingresar' %}</button>
            </form>
        </div>

        <a href="{% url 'accounts:recover' %}">¿olvidaste tu contraseña?</a>
    </div>
{% endblock %}