{% extends 'base/base.html' %}
{% load i18n widget_tweaks %}

	{% block title %}{% trans 'Recover password' %}{% endblock title %}
	{% block content %}
		<nav class="navbar navbar-static-top navbar-inverse"></nav>
		<main id="content" class="row-fluid">
			<div class="container-fluid">
				<section class="col-xs-4 col-xs-offset-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>{% trans 'Forgot your password?' %}</h3>
							<p>{% blocktrans %}Please provide us with your registered email address for us to attempt to recover your account.{% endblocktrans %}</p>
						</div>
						<div class="panel-body">{% if form.non_field_errors %}{% for error in form.non_field_errors %}
							<div class="alert alert-danger">{{ error }}</div>{% endfor %}{% endif %}
							<form action="{% url 'accounts:recover' %}" method="post">
								{% csrf_token %}
								<div class="form-group">{{ form.email_address | add_class:'form-control' }}</div>
								<hr />
								<div class="col-xs-offset-5">
									<button class="btn btn-primary" type="submit">{% trans 'Recover' %}</button>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</main>
	{% endblock content %}
