{% extends 'base/base.html' %}
{% load i18n widget_tweaks %}

{% block title %}{% trans 'Resetea contraseña' %}{% endblock %}
{% block content %}
    <div class="login">

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert-box alert">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <div class="title"> {% trans 'Cambia tu contraseña' %}</div>
        <div class="message"> {% trans 'A continuacion agrega tu nueva contraseña. Ten en cuenta las medidas de seguridad y recomencaciones de password.' %}
        </div>
        <form action="{% url 'accounts:reset' user_id token %}" method="post">
            {% csrf_token %}
            <div class="form-group">{{ form.password | add_class:'form-control' | attr:'required' }}</div>
            <div class="form-group">{{ form.repeat | add_class:'form-control' | attr:'required' }}</div>
            <hr/>
            <div class="col-xs-offset-5">
                <button class="btn btn-primary" type="submit">{% trans 'Cambiar' %}</button>
            </div>
        </form>
    </div>
{% endblock %}