{% extends 'base/base-2cols.html' %}
{% load i18n widget_tweaks %}

{% block usuarios-active %}
    active
{% endblock %}

{% block canvas %}
    <div class="ninenty">
        <div class="heading">
            {% trans 'Create User Account' %}
        </div>

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert-box alert">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <form action="{% url 'users:create' %}" method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            <!-- General info section -->
            <div id="general">
                <div class="sub-heading">{% trans 'General Information' %}</div>
                <div id="user-first-name"
                     class="three-elements">{{ form.first_name | add_class:'error' | attr:'required' }}</div>
                <div id="user-father-family-name"
                     class="three-elements">{{ form.father_family_name | add_class:'error' }}</div>
                <div id="user-mother-family-name"
                     class="three-elements">{{ form.mother_family_name | add_class:'error' }}</div>
                <!-- General info section -->

                <!--Password section-->
                <div class="sub-heading">{% trans 'Password' %}</div>
                <div id="user-password">
                    {{ form.password | add_class:'error element-in-block' | attr:'required' }}
                    {{ form.repeat | add_class:'error element-in-block' | attr:'required' }}
                </div>
                <!--Password section-->

                <!--User-mail section-->
                <div class="sub-heading">{% trans 'Email' %}</div>
                <div id="user-email" class="none">
                    {{ form.email_address.errors }}{{ form.email_address | add_class:'error element-in-block' | attr:'required' }}
                </div>
                <!--User-mail section-->

                <!--Campus section-->
                <div class="sub-heading">{% trans 'Select the campus of the user' %}</div>
                <div id="user-campus">
                    {{ form.campus.errors }}
                    {{ form.campus | add_class:'error element-in-block' | attr:'required' }}
                </div>
                <!--Campus section-->

                <!--Rol section-->
                <div class="sub-heading">{% trans 'Select the role of user' %}</div>
                <div id="user-roles">
                    <div id="id_role">
                        {{ form.role.errors }}
                        {% for role in form.fields.role.choices %}
                            <input type="radio" id="id_role_{{ forloop.counter }}" name="role"
                                   value="{{ role.0 }}" style="visibility: hidden;" required/>
                            <label for="id_role_{{ forloop.counter }}" class="checkbox">
                                {% autoescape off %}{{ role.1 }}{% endautoescape %}
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <!--Rol section-->
            </div>

            <!-- Teaching grades section-->
            <div class="sub-heading">{% trans 'Select the teaching grades of user' %}</div>
            <div id="user-grades">
                <div id="id_grades">
                    {% if form.grades.errors %}
                        {% for error in form.grades.errors %}
                            <div class="alert-box alert">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    {% for grade in form.fields.grades.choices %}

                        <input type="checkbox" id="id_grades_{{ forloop.counter }}" name="grades"
                               value="{{ grade.0 }}" style="visibility: hidden;"/>
                        <label for="id_grades_{{ forloop.counter }}" class="checkbox">
                            {% blocktrans with grade.1|title as name %}
                                {{ name }}
                            {% endblocktrans %}
                        </label>

                    {% endfor %}

                </div>
            </div>
            <!-- Teaching grades section -->

            <!-- User picture section -->
            <div class="sub-heading">{% trans 'Select the picture of user' %}</div>
            <div id="user-profile-photo" class="col-xs-12 form-group">
                {% if form.photo.errors %}
                    {% for error in form.photo.errors %}
                        <div class="alert-box alert">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                {{ form.photo | add_class:'error' }}
            </div>
            <!-- User picture section -->


            <button class="btn btn-primary" type="submit" style="margin-top: 30px;">{% trans 'Create user' %}</button>
        </form>
    </div>
{% endblock %}