{% extends 'base/base-2cols.html' %}
{% load i18n %}
{% block cuenta-active %}active{% endblock cuenta-active %}
{% block title %}{% trans 'Perfil de usuario' %}{% endblock title %}
{% block canvas %}
    <div class="ninenty">

        <div class="profile">
            <div class="heading-profile">{% blocktrans with u.email_address as email %}{{ email }}'s profile{% endblocktrans %}</div>
            <div class="picture">
                <img src="{{ u.photo.url }}" alt="
                                {% blocktrans with u.get_short_name as name %}{{ name }}'s avatar{% endblocktrans %}"/>
            </div>

            <div class="info">
                <dl>
                    <dt>{% trans 'Nombre:' %}</dt>
                    <dd class="form-static">{{ u.get_full_name }}</dd>
                    <dt>{% trans 'Correo electrónico' %}</dt>
                    <dd class="form-static">{{ u.email_address }}</dd>
                    <dt>{% trans 'Campus' %}</dt>
                    <dd class="form-static">{{ u.campus }}</dd>

                    <!-- Teaching grades section-->
                    <div class="description emphasis">{% trans 'Grados que imparte' %}</div>
                    <div id="user-grades">
                        <div id="id_grades">
                            {% for grade in u.grades.all %}
                                <input type="checkbox" id="id_grades_{{ forloop.counter }}" name="grades"
                                       checked="checked"
                                       style="display: none;"
                                       disabled="disabled"/>
                                <label for="id_grades_{{ forloop.counter }}" class="checkbox">
                                    {{ grade }}
                                </label>
                            {% endfor %}
                        </div>
                        <!-- Teaching grades section-->
                </dl>
                <hr>
                <div class="action-profile"><a href="{% url 'users:edit' u.id %}" class="anchor-to-button">{% trans 'Editar información' %}</a></div>
            </div>
        </div>
    </div>
{% endblock canvas %}