{% extends 'base/base-2cols.html' %}
{% load i18n widget_tweaks static %}
{% load roles %}
{% block title %}{{ material.title }}{% endblock %}
{% block busqueda-active %}active{% endblock busqueda-active %}
{% block canvas %}
    <div class="ninenty">
        <div class="heading-material">
            <div class="title-material">{{ material.title }}</div>
        </div>

        <div class="description-material">
            <p>{{ material.description }}</p>

            <div class="tags-container">
                {% for theme in themes %}
                    <span class="material-tags">{{ theme.name }}</span>
                {% endfor %}

                {% for type in types %}
                    <span class="material-tags">{{ type.name }}</span>
                {% endfor %}

                {% for lang in languages %}
                    <span class="material-tags">{{ lang.name }}</span>
                {% endfor %}

                {% for age in ages %}
                    <span class="material-tags">{{ age.name }}</span>
                {% endfor %}
            </div>

            <hr>
            {% if material.content %}
                <a href="{% url 'content:download' content_id %}" class="link-visit" target="_blank"><i
                        class="fa fa-floppy-o"></i>
                    {% trans 'descargar material' %}</a>
            {% endif %}

            {% if material.link %}
                <a href="{{ material.link }}" class="link-visit" target="_blank"><i class="fa fa-external-link"></i>
                    {% trans 'ingresar al link del material' %}</a>
            {% endif %}

            <input type="hidden" value="{% url 'portfolio:edit' content_id %}" name="put-tag">

            {% if user|has_role:'teacher' %}
                <div id="contain-portfolio" style="display: inline-block;">
                    {% csrf_token %}
                    {% if not in_portfolio %}
                        <a class="add-favorites" id="add-portfolio"><i
                                class="fa fa-heart-o"></i>{% trans 'agregar a favoritos' %}</a>
                    {% endif %}

                    {% if in_portfolio %}
                        <a class="remove-favorites" id="remove-portfolio"><i
                                class="fa fa-heart"></i>{% trans 'eliminar de favoritos ' %}</a>
                    {% endif %}
                </div>
            {% endif %}


            {% if user|has_role:'teacher' %}
                <a href="#" class="error-report" id="show-report-material"><i
                        class="fa fa-exclamation"></i>{% trans 'reportar error' %}</a>
            {% endif %}

            {% if user|has_role:'content manager' %}
                <a href="{% url 'content:edit' content_id %}" class="link-visit"><i
                        class="fa fa-pencil"></i>{% trans 'editar material' %}</a>
            {% endif %}

            <hr>

            {% comment %}
            <form action="#" id="comment-form">
                {% csrf_token %}
                {{ form.content }}
                {{ form.rating_value }}
                {{ form.user }}
                {{ form.material }}
                <button id="send-comment">Comment</button>
            </form>
            {% endcomment %}

            {% if not has_commented %}
                {% if user|has_role:'teacher' %}
                    <div class="form">
                        <button id="leave-comment">{% trans 'escribe un comentario' %}</button>
                    </div>
                {% endif %}
            {% endif %}

            <div id="comment-form" class="form" style="display: none;">
                {% csrf_token %}
                <input type="hidden" value="{{ user.id }}" name="id-user">
                <input type="hidden" value="{{ content_id }}" name="id-content">
                <input type="hidden" value="{{ user.email_address }}" name="id-user-email">
                <input type="hidden" value="{% url 'content:view' content_id %}" name="url-material">
                <input type="hidden" id="count">

                <div class="row lead rating">
                    <span>{% trans 'Selecciona la calificación:' %}</span>

                    <div id="stars" class="starrr"></div>
                </div>
                <div id="comment-error" class="alert-box alert"
                     style="display: none;">{% trans 'Por favor, asegúrate de completar todos los campos' %}</div>
                    <textarea id="comment-content" cols="40"
                              rows="4" maxlength="500" style="resize: none;"
                              placeholder="{% trans 'Cuéntanos de este material' %}"></textarea>
                <button id="send-comment">{% trans 'Guardar Comentario' %}</button>
                <hr>
            </div>
            <div>
                {% if comments %}
                    <div id="material-comments">
                        <div class="sub-heading">Comments</div>
                        {% for comment in comments %}
                            <div class="ind-comment">
                                <div class="author display-in-line">Por: {{ comment.user }}</div>
                                <div class="rating display-in-line">
                                    {% with range=comment.rating_value %}
                                        {% if range == 5 %}
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                        {% elif range == 4 %}
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star-o"></i>
                                        {% elif range == 3 %}
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        {% elif range == 2 %}
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        {% elif range == 1 %}
                                            <i class="fa fa-star filled"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        {% elif range == 0 %}
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        {% endif %}
                                    {% endwith %}</div>
                                <p class="content">{{ comment.content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div id="material-comments">
                        <div class="sub-heading">{% trans 'Comentarios' %}</div>
                        <div class="no-comments">{% trans 'Este material aún no tiene comentarios' %}</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock canvas %}

{% block js_footer %}
    <script src="{% static 'js/rating.js' %}"></script>
    <script src="{% static 'js/portfolio.js' %}"></script>
    <script src="{% static 'js/reports.js' %}"></script>
{% endblock js_footer %}

{% block modals %}
    {% include "modals/reportsModals.html" %}
{% endblock modals %}