{% extends 'base/base-2cols.html' %}
{% load static i18n widget_tweaks %}

{% block title %}{% trans 'Editar material' %}{% endblock title %}
{% block canvas %}
    <div class="ninenty">
        <div class="heading">
            {% trans 'Edit Material' %}
        </div>
        <p class="description">

            {% blocktrans with material.title as title %}Aquí puedes editar o borrar el material "{{ title }}".{% endblocktrans %}
        </p>

        {% comment %}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert-box alert">{{ error }}</div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% endcomment %}

        <form action="{% url 'content:edit' content_id %}" method="post" enctype="multipart/form-data" class="form">

            {% csrf_token %}

            <div id="general">

                <!-- Title section -->
                <div class="sub-heading">{% trans 'Título del material' %}</div>
                {{ form.title }}
                {% if form.title.errors %}
                    {% for error in form.title.errors %}
                        <small class="error">{% blocktrans %}{{ error }}{% endblocktrans %}</small>
                    {% endfor %}
                {% endif %}
                <!-- Title section -->

                <!--Description section-->
                <div class="sub-heading">{% trans 'Descripción del material' %}</div>
                {{ form.description }}
                {% if form.description.errors %}
                    {% for error in form.description.errors %}
                        <small class="error">{% blocktrans %}{{ error }}{% endblocktrans %}</small>
                    {% endfor %}
                {% endif %}
                <!--Description section-->

                <!--Attach section-->
                <div class="form-group">
                    <div class="sub-heading">{% trans 'Archivo adjunto o link' %}</div>
                    <div class="two-elements">{{ form.content }}
                        {% if form.content.errors %}
                            {% for error in form.content.errors %}
                                <small class="error">{% blocktrans %}{{ error }}{% endblocktrans %}</small>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <p class="middle-element"><strong>{% trans 'o escribe el link:' %}</strong></p>

                    <div class="two-elements">
                        {{ form.link }}
                        {% if form.link.errors %}
                            {% for error in form.link.errors %}
                                <small class="error">{% blocktrans %}{{ error }}{% endblocktrans %}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <!--Attach section-->
            </div>


            <!-- Age tags section-->
            <div id="tags-ages">
                <div class="sub-heading">{% trans 'Edades sugeridas' %}</div>
                {% for age in form.fields.suggested_ages.choices %}
                    <input type="checkbox" id="id_suggested_ages_{{ forloop.counter }}"
                           name="suggested_ages" value="{{ age.0 }}"
                            {% if age.0 in form.suggested_ages.value %} checked{% endif %}
                           style="visibility: hidden;"/>
                    <label for="id_suggested_ages_{{ forloop.counter }}" class="checkbox">
                        {% blocktrans with age.1|title as name %}{{ name }}{% endblocktrans %}
                    </label>
                {% endfor %}

                {% if form.suggested_ages.errors %}
                    {% for error in form.suggested_ages.errors %}
                        <small class="error">{% blocktrans %}{{ error }}{% endblocktrans %}</small>
                    {% endfor %}
                {% endif %}
            </div>
            <!-- Age tags section-->

            <!-- Type tags section -->
            <div class="sub-heading display-in-line">
                {% trans 'Tipo de material' %}
            </div>
            <div class="sub-heading-helper display-in-line">
                <a href="#" data-reveal-id="types-modal"
                   id="show-types">{% trans 'agregar o quitar tipos de material ' %}</a>
            </div>
            <div id="tags-types">
                {% for type in form.fields.types.choices %}
                    <input type="checkbox" id="id_types_{{ forloop.counter }}" name="types"
                           value="{{ type.0 }}" {% if type.0 in form.types.value %}
                           checked{% endif %}
                           style="visibility: hidden;"/>
                    <label for="id_types_{{ forloop.counter }}" class="checkbox">
                        {% blocktrans with type.1|title as name %}{{ name }}{% endblocktrans %}
                    </label>
                {% endfor %}

                {% if form.types.errors %}
                    {% for error in form.types.errors %}
                        <small class="error">{% blocktrans %}{{ error }}{% endblocktrans %}</small>
                    {% endfor %}
                {% endif %}
            </div>
            <!-- Type tags section -->

            <!-- Languages tags section -->
            <div class="sub-heading display-in-line">
                {% trans 'Idiomas del material' %}
            </div>
            <div class="sub-heading-helper display-in-line">
                <a href="#" data-reveal-id="languages-modal"
                   id="show-languages">{% trans 'agregar o quitar idiomas' %}</a>
            </div>
            <div id="tags-languages">
                {% for lang in form.fields.languages.choices %}
                    <input type="checkbox" id="id_languages_{{ forloop.counter }}"
                           name="languages" value="{{ lang.0 }}"
                            {% if lang.0 in form.languages.value %} checked{% endif %}
                           style="visibility: hidden;"/>
                    <label for="id_languages_{{ forloop.counter }}" class="checkbox">
                        {% blocktrans with lang.1|title as name %}{{ name }}{% endblocktrans %}
                    </label>
                {% endfor %}

                {% if form.languages.errors %}
                    {% for error in form.languages.errors %}
                        <small class="error">{% blocktrans %}{{ error }}{% endblocktrans %}</small>
                    {% endfor %}
                {% endif %}

            </div>
            <!-- Languages tags section -->

            <!-- Themes tags section -->
            <div id="tags-themes" class="col-xs-12 navbar navbar-default form-group">

                <div class="sub-heading display-in-line">{% trans 'Temas del material' %}</div>
                <div class="sub-heading-helper display-in-line">
                    <a href="#" data-reveal-id="themes-modal"
                       id="show-themes">{% trans 'agregar o quitar temas' %}</a>
                </div>
                {{ form.themes }}

                {% if form.themes.errors %}
                    {% for error in form.themes.errors %}
                        <small class="error">{% blocktrans %}{{ error }}{% endblocktrans %}</small>
                    {% endfor %}
                {% endif %}
            </div>
            <!-- Themes tags section -->

            <div class="two-buttons">
                <button type="submit">{% trans 'Guardar cambios' %}</button>
                <button class="delete" type="button" id="delete-this-material"
                        data-reveal-id="delete-material-modal">{% trans 'Eliminar material' %}</button>
            </div>
        </form>
    </div>

{% endblock canvas %}

{% block modals %}
    {% include "modals/materialModals.html" %}
{% endblock %}

{% block js_footer %}
    <script src="{% static 'js/material.js' %}"></script>
{% endblock %}